version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: movieflix-db
    environment:
      POSTGRES_DB: movieflix
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    restart: unless-stopped